@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');

.bg-navy { background-color: #0A2342 !important; }
.text-navy { color: #0A2342 !important; }
.bg-yellow { background-color: #FFD43B !important; }
.text-yellow { color: #FFD43B !important; }

body {
    font-family: 'Geist Mono', monospace;
    overflow-x: hidden;
}

.btn-yellow {
    background-color: #FFD43B;
    color: #0A2342;
    border: none;
    transition: 0.3s;
}
.btn-yellow:hover {
    background-color: #e0bf34;
    color: #000;
}

.btn-outline-navy {
    border: 2px solid #0A2342;
    color: #0A2342;
    transition: 0.3s;
}
.btn-outline-navy:hover {
    background-color: #0A2342;
    color: #FFD43B;
}

.hero {
    background: linear-gradient(to bottom, #fdfdfd, #ffffff);
    min-height: 90vh;
}

.hero-center{
    margin-top: 50px;
    min-height: 85vh;
    display: flex;
    align-items: center;
}

.card-img-overlay {
    background: linear-gradient(180deg, transparent 60%, rgba(10,35,66,0.85) 100%);
    border-radius: 10px;
}

.text-white{
    margin-top: 50px !important;
}

.services-section {
    background-color: #f8f9fa;
}

.service-card {
    transition: all 0.3s ease;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.btn-yellow {
    background-color: #FFD700;
    color: #000;
    border: none;
}

.btn-yellow:hover {
    background-color: #FFC300;
    color: #fff;
}

.card.bg-black .text-muted {
  color: #ccc !important;
}

.btn-primary{
    color: black;
    background-color: white;
}

.btn-primary:hover{
    background-color: #0A2342;
    color: #FFD43B;
}

.btn-view-all {
  background-color: black;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
  font-weight: 600;
}

.btn-view-all:hover {
  background-color: rgb(66, 61, 61);
  color: #fff;
}

footer {
    font-size: 0.9rem;
}

.text-brand {
  color: #ffcc00 !important;
}

.footer-icon {
  color: #ffcc00 !important;
}

.hero-section {
  background: url("../images/AutoPilotoAboutBg.jpg") no-repeat center center/cover;
  min-height: 100vh;
  position: relative;
}

.hero-section .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-box {
  transition: all 0.3s ease-in-out;
}

.service-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


